@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Poppins&family=Roboto+Slab&display=swap');
body{
  text-align: center;
  font-family: 'Roboto Slab', serif;
  background-color: gray;
}
h1{
  background-color: white;
}
.nombre_foto{
  font-family: 'Lobster', cursive;
  text-align: center;
}

h3{
  text-align: center;
  background-color: white;
}
.contenedor {
    text-align: left;
    border-radius: 20px;
    padding: 5px 20px;
    margin: 50px auto;
    width: 35%;
}

a {
  color: red;
  text-decoration:none;
}

 a:hover{
  color: white;
}
